{% extends "lab_4/layout/base.html" %}

{% block content %}
{% load staticfiles %}


<style type="text/css">
.text{
	text-align: center;
	position: absolute;
	color:white;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center{
	display: table;
	margin: 0 auto;
}

.button{
	background-color: #F1CC26;
    border: none;
    color: white;
    padding: 11px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16	px;
    margin: 4px 2px;
    cursor: pointer;
}
	
</style>

<div class="text">
<center><h1>Portofolio</h1></center>
<center><img class = "img-circle" src="https://image.ibb.co/ik32Jk/me.jpg" alt="me" width="150" height="150"></center>

<hr/>
<section name ="bio">
	<center><h2>Bio</h2></center>
	<p>
		<center>{{content}}</center>
	</p>
</section>
<hr/>
<section name="about_me">
	<h2 align="center">List of Me</h2>
	<ul class="center">
		{% for ii in about_me %}
		<li> {{ ii }} </li>
		{% endfor %}
	</ul>
</section>
<hr/>
<section name="text">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}"	>
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="button">Submit</button>
    </form>
</section>
</div>




{% endblock %}