{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
</style>
<div class="center_screen">
    <h1 class="status" id="test" style="font-size:30px; color:#4d5760; text-align: center;">Hello, this is {{ name }}.</h1>
    <h2 class="status" id="test" style="font-size:20px; color:#4d5760; text-align: center;">{{ content }}.</h2>
</div>
{% endblock %}